<!DOCTYPE html>
<html lang="pl-PL">
  <head>
    <meta charset="utf-8"/>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="description" content="<%= htmlWebpackPlugin.options.description %>">
    <% if (htmlWebpackPlugin.options.fontPreloader) { %>
      <% htmlWebpackPlugin.options.googleFonts.forEach(fontUrl => { %>
        <link href="<%= fontUrl %>" rel="stylesheet">
      <% }) %>
    <% } %>
    <% if (htmlWebpackPlugin.options.fontPreloader) { %>
    <style>
      .font-loader {
        position: absolute;
        left: -100000px;
        top: -100000px;
      }
    </style>
    <% } %>
    <!-- Matomo -->
    <script type="text/javascript">
      const domainParts = document.domain.split('.');
      var _paq = window._paq = window._paq || [];
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */

      if (domainParts.length > 2) {
        _paq.push(['setCustomUrl', '/' + domainParts[0]]);
      }

      _paq.push(["setCookieDomain", "*.bodgingbear.dev"]);
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="//analytics.bodgingbear.dev/";
        _paq.push(['setTrackerUrl', u+'matomo.php']);
        _paq.push(['setSiteId', '5']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <!-- End Matomo Code -->
  </head>
  <body>
    <div id="app"></div>
    <% if (htmlWebpackPlugin.options.fontPreloader) { %>
    <ul class="font-loader">
    <% htmlWebpackPlugin.options.fontPreloader.forEach(font => { %>
      <li style="font-family: <%= font %>;">zażółć gęślą jaźń</li>
    <% }) %>
    </ul>
    <% } %>
  </body>
</html>
