@font-face {
  font-family: 'Pixel miners';
  src: url('../assets/fonts/pixel-miners.woff2') format('woff'),
       url('../assets/fonts/pixel-miners.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html, body {
  height: 100%;
  width: 100%;
  background: #000;
  font-family: 'Pixel miners';
}

body {
  margin: 0;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
}
